*{
    margin: 0;
    padding: 0;
}

/*positioning elements*/
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#vol-control {
    position: fixed;
    bottom: 90%;
    left: 46.5%;
}

button{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    
    
    height: 40px;
    width: 150px;
    font-size: 22px;
    margin: 13px;

    background-color: #019DBC;
    color: white;
    border-radius: 4px;

    padding: 0;
    border: none;

    
}

button:hover {
    background-color: white; 
    color: black;
  }

  
